In [14]:
import pandas as pd

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\somasekharaprabhatku\appdata\local\programs\python\python310\lib\site-packages (3.1.5)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et-xmlfile in c:\users\somasekharaprabhatku\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
df=pd.read_excel("RAID Shield Master Dump.xlsx","Raid_Log__c")
df2 = pd.read_excel("RAID Shield Master Dump.xlsx","Use_Case__c")

In [18]:
df['Project__c'].isnull().count()

3969

In [19]:
df.isnull().sum()

Account__c                      0
Owner__c                      132
Closed_Date__c               3925
Closure_Reason__c             828
CreatedById                     0
CreatedDate                     0
CurrencyIsoCode                 0
IsDeleted                       0
Department_Name__c            300
Due_Date__c                    20
Due_Date_Change_Reason__c    2888
kipi_Owner__c                 276
LastActivityDate              901
LastModifiedById                0
LastModifiedDate                0
Mitigation_Action__c          812
Open_Since__c                2150
Potential_Impact__c           177
Priority__c                     0
Project__c                   2134
RAID_Category__c                0
RAID_Description__c             0
Name                            0
RAID_Mitigation__c           3934
RAID_Other_Remarks__c        3956
ConnectionReceivedId         3969
Id                              0
RecordTypeId                    0
ConnectionSentId             3969
Stage__c                        0
Status__c                      20
SystemModstamp                  0
Use_Case__c                  2685
Visibility__c                  95
dtype: int64

In [4]:
df.head()

,Account__c,Owner__c,Closed_Date__c,Closure_Reason__c,CreatedById,CreatedDate,CurrencyIsoCode,IsDeleted,Department_Name__c,Due_Date__c,...,RAID_Other_Remarks__c,ConnectionReceivedId,Id,RecordTypeId,ConnectionSentId,Stage__c,Status__c,SystemModstamp,Use_Case__c,Visibility__c
0,0018Z000035nQEtQAM,Lasso,2023-09-22,NaN,0055f000007q0LtAAI,2023-09-11 20:56:32,USD,False,NaN,2023-09-22,...,NaN,NaN,aCW8Z0000006aboWAA,012OJ000001O1dWYAS,NaN,Closed,Overdue,2024-04-12 16:42:28,NaN,NaN
1,0018Z000035nQEtQAM,Lasso/Kipi,2023-08-30,NaN,0055f000007q0LtAAI,2023-09-11 20:57:21,USD,False,NaN,2023-08-29,...,NaN,NaN,aCW8Z0000006abtWAA,012OJ000001O1dWYAS,NaN,Closed,Overdue,2024-04-12 16:42:28,NaN,NaN
2,0018Z000035nQEtQAM,Lasso,NaT,NaN,0055f000007q0LtAAI,2023-09-11 20:58:53,USD,False,NaN,2023-10-10,...,NaN,NaN,aCW8Z0000006abyWAA,012OJ000001O1dWYAS,NaN,Closed,Overdue,2024-04-12 16:42:28,NaN,NaN
3,0018Z000033WmzPQAS,Magna,2023-09-08,NaN,0055f000007q0LtAAI,2023-09-11 21:18:25,USD,False,NaN,2023-09-08,...,BigTime API descoped,NaN,aCW8Z0000006ac3WAA,012OJ000001O1dWYAS,NaN,Closed,Overdue,2024-04-12 16:42:28,NaN,NaN
4,0018Z000033WmzPQAS,Magna,NaT,NaN,0055f000007q0LtAAI,2023-09-11 21:20:23,USD,False,NaN,2023-09-26,...,NaN,NaN,aCW8Z0000006ac4WAA,012OJ000001O1dWYAS,NaN,Closed,Overdue,2024-04-12 16:42:28,NaN,External

In [8]:
df2.head()

,of_Capacity__c,Account__c,Actors_Users__c,AI_ML_Tool_Used__c,BI_Tool_Used__c,BU_Ind__c,Business_Buyer__c,Client_Go_Live_Date__c,Cloud_Tool_Used__c,Competitors__c,...,Solution_Architecture__c,Source__c,Stage__c,Stage_Notes__c,Start_Date__c,SystemModstamp,Target_Outcomes__c,Tools_Technologies_Replaced__c,Use_Case_Type__c,Workloads__c
0,NaN,0015f00000HHFpbAAH,NaN,NaN,NaN,"<img src=""https://upload.wikimedia.org/wikiped...",Dennis Jensen,NaT,NaN,NaN,...,NaN,Proposed by kipi,Complete,NaN,2023-11-01,2024-08-16 11:11:38,NaN,NaN,Technical,Data Engineering
1,NaN,0015f00000HHFpbAAH,NaN,NaN,NaN,"<img src=""https://upload.wikimedia.org/wikiped...",Dennis Jensen,NaT,NaN,NaN,...,NaN,NaN,Client Not Interested (explain why),NaN,NaT,2023-09-15 09:30:53,NaN,NaN,NaN,NaN
2,NaN,0015f00000HHFpbAAH,NaN,NaN,NaN,"<img src=""https://upload.wikimedia.org/wikiped...",Abhishek Gupta,NaT,NaN,NaN,...,NaN,NaN,Client Not Interested (explain why),NaN,NaT,2024-02-12 17:32:32,NaN,NaN,Technical,NaN
3,NaN,0015f00000HHFpbAAH,NaN,NaN,NaN,"<img src=""https://upload.wikimedia.org/wikiped...",Dennis Jensen,NaT,NaN,NaN,...,NaN,NaN,Client Not Interested (explain why),Want to pause this for now as there are other ...,NaT,2023-11-03 18:29:56,NaN,NaN,NaN,Data Science
4,NaN,0015f00000HHFpbAAH,NaN,NaN,NaN,"<img src=""https://upload.wikimedia.org/wikiped...",Dennis Jensen,NaT,NaN,NaN,...,<p>Created a chatbot that internally uses mult...,Discovered by kipi,Complete,Did a POC and showed the results to Dennis and...,2024-07-15,2024-09-09 16:59:12,Create More Revenue;Save Money,NaN,Business,Data Analytics;Data Science

In [5]:
df.shape

(3969, 34)

In [6]:
df2.shape

(871, 62)

In [17]:
for column in df.columns: 
    unique_values = df[column].nunique() 
    print(f"{column}:{unique_values}")
    
    # print(f"Unique values in column '{column}':") 
    # print(unique_values) 
    # print("\n")

Account__c:232
Owner__c:1214
Closed_Date__c:24
Closure_Reason__c:2870
CreatedById:91
CreatedDate:3967
CurrencyIsoCode:1
IsDeleted:1
Department_Name__c:14
Due_Date__c:325
Due_Date_Change_Reason__c:779
kipi_Owner__c:294
LastActivityDate:219
LastModifiedById:104
LastModifiedDate:2474
Mitigation_Action__c:2921
Open_Since__c:228
Potential_Impact__c:3298
Priority__c:4
Project__c:202
RAID_Category__c:4
RAID_Description__c:3803
Name:3969
RAID_Mitigation__c:35
RAID_Other_Remarks__c:13
ConnectionReceivedId:0
Id:3969
RecordTypeId:2
ConnectionSentId:0
Stage__c:2
Status__c:3
SystemModstamp:2476
Use_Case__c:228
Visibility__c:3

In [18]:

unique_counts_df = pd.DataFrame({ 'Column': df.columns, 'Unique_Count': [df[column].nunique() for column in df.columns] })

In [19]:
unique_counts_df

                       Column  Unique_Count
0                  Account__c           232
1                    Owner__c          1214
2              Closed_Date__c            24
3           Closure_Reason__c          2870
4                 CreatedById            91
5                 CreatedDate          3967
6             CurrencyIsoCode             1
7                   IsDeleted             1
8          Department_Name__c            14
9                 Due_Date__c           325
10  Due_Date_Change_Reason__c           779
11              kipi_Owner__c           294
12           LastActivityDate           219
13           LastModifiedById           104
14           LastModifiedDate          2474
15       Mitigation_Action__c          2921
16              Open_Since__c           228
17        Potential_Impact__c          3298
18                Priority__c             4
19                 Project__c           202
20           RAID_Category__c             4
21        RAID_Description__c          3803
22                       Name          3969
23         RAID_Mitigation__c            35
24      RAID_Other_Remarks__c            13
25       ConnectionReceivedId             0
26                         Id          3969
27               RecordTypeId             2
28           ConnectionSentId             0
29                   Stage__c             2
30                  Status__c             3
31             SystemModstamp          2476
32                Use_Case__c           228
33              Visibility__c             3

In [20]:

unique_counts_df2 = pd.DataFrame({ 'Column': df2.columns, 'Unique_Count': [df2[column].nunique() for column in df2.columns] })

In [21]:
unique_counts_df2

                            Column  Unique_Count
0                   of_Capacity__c             0
1                       Account__c           255
2                  Actors_Users__c           257
3               AI_ML_Tool_Used__c             3
4                  BI_Tool_Used__c             6
..                             ...           ...
57                  SystemModstamp           858
58              Target_Outcomes__c             7
59  Tools_Technologies_Replaced__c           138
60                Use_Case_Type__c             3
61                    Workloads__c            62

[62 rows x 2 columns]

In [27]:
merged_df = pd.merge(df, df2, on='CreatedById', how='inner')
merged_df

,Account__c_x,Owner__c,Closed_Date__c,Closure_Reason__c,CreatedById,CreatedDate_x,CurrencyIsoCode_x,IsDeleted_x,Department_Name__c,Due_Date__c,...,Solution_Architecture__c,Source__c,Stage__c_y,Stage_Notes__c,Start_Date__c,SystemModstamp_y,Target_Outcomes__c,Tools_Technologies_Replaced__c,Use_Case_Type__c,Workloads__c
0,0018Z000035nQEtQAM,Lasso,2023-09-22,NaN,0055f000007q0LtAAI,2023-09-11 20:56:32,USD,False,NaN,2023-09-22,...,<p>We have Validated and updated the Current R...,Informed by Client,Complete,"Validate the Current architecture , primary R...",2024-05-13,2024-08-30 20:45:26,Save Money;Increase Compliance,"Jasper to Sigma , Postgres to Snowflake",Technical,Data Engineering
1,0018Z000035nQEtQAM,Lasso,2023-09-22,NaN,0055f000007q0LtAAI,2023-09-11 20:56:32,USD,False,NaN,2023-09-22,...,"<p><span style=""color: rgb(68, 68, 68); backgr...",Informed by Client,Complete,Client interested in advisory sessions for Dat...,2024-06-10,2024-08-30 20:45:39,NaN,NaN,Technical,Data Engineering;Collaboration (Data Sharing)
2,0018Z000035nQEtQAM,Lasso,2023-09-22,NaN,0055f000007q0LtAAI,2023-09-11 20:56:32,USD,False,NaN,2023-09-22,...,<p>Redesigning pipeline running over a thresho...,Informed by Client,Complete,Completed -\n1) 7-8 Jobs were modified and opt...,2024-03-01,2024-08-13 20:30:19,Save Money;Increase Compliance,NaN,Technical,Data Engineering
3,0018Z000035nQEtQAM,Lasso,2023-09-22,NaN,0055f000007q0LtAAI,2023-09-11 20:56:32,USD,False,NaN,2023-09-22,...,<p>We provided updated for Metadata driven vs ...,Informed by Client,Complete,We provided updated for Metadata driven vs ET...,2024-05-20,2024-06-20 18:53:24,NaN,NaN,Technical,Data Engineering
4,0018Z000035nQEtQAM,Lasso,2023-09-22,NaN,0055f000007q0LtAAI,2023-09-11 20:56:32,USD,False,NaN,2023-09-22,...,"<ul><li><span style=""background-color: transpa...",NaN,Active,08 August - These 4 are the crucial work item ...,2024-01-15,2024-09-04 12:24:15,Create More Revenue,Snowflake and PowerBI,Business,Data Warehousing;Data Analytics;Data Engineeri...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13784,0015f00000HE1eWAAT,Priya Gopal,NaT,The client mentioned the acquisition of a new ...,0055f000007q0Q9AAI,2024-07-30 13:16:42,USD,False,CSM,2024-08-15,...,"<p><span style=""color: rgb(68, 68, 68);"">To ad...",Informed by Client,Complete,NaN,2022-11-01,2024-08-16 14:49:30,Create More Revenue,"SQL server with Snowflake, Tableau with Power BI",Business,Data Warehousing;Data Analytics
13785,0015f00000UExMcAAL,Siddharth Ghelani,NaT,This RAID item was created just to initiate th...,0055f000007qNiqAAE,2024-08-20 20:54:28,USD,False,Delivery,2024-08-28,...,"<p><img src=""https://kipibi.file.force.com/ser...",Informed by Client,Complete,NaN,2022-09-29,2024-08-08 01:17:58,Create More Revenue;Increase Compliance,NaN,Business,Data Warehousing;Data Engineering
13786,0015f00000UExMcAAL,Siddharth Ghelani,NaT,This RAID item was created just to initiate th...,0055f000007qNiqAAE,2024-08-20 20:54:28,USD,False,Delivery,2024-08-28,...,"<p><span style=""color: rgb(68, 68, 68);"">Our j...",Informed by Client,Active,This is an active and generic use case that h...,2024-01-01,2024-09-05 14:00:51,Create More Revenue;Save Money,NaN,Technical,Data Warehousing;Data Engineering;Collaboratio...
13787,0015f00000UExMcAAL,Siddharth Ghelani,NaT,This RAID item was created just to initiate th...,0055f000007qNiqAAE,2024-08-20 20:54:28,USD,False,Delivery,2024-08-28,...,<p>A new team member named Onkar Bongirwar is ...,Proposed by kipi,Complete,Onkar went through the Advanced SQL training w...,2024-08-08,2024-09-06 12:22:45,NaN,NaN,Technical,Data Engineering
13788,0015f00000UExMcAAL,Siddharth Ghelani,NaT,This RAID item was created just to initiate th...,0055f000007qNiqAAE,2024-08-20 20:54:28,USD,False,Delivery,2024-08-28,...,<p>Onkar should be given an end to end overvie...,Proposed by kipi,Complete,The process has already started from 9th Augus...,2024-08-09,2024-09-04 12:19:18,NaN,NaN,Business,Data Warehousing;Data Engineering

In [28]:
merged_df = pd.merge(df, df2, on='Account__c', how='inner')
merged_df

,Account__c,Owner__c,Closed_Date__c,Closure_Reason__c,CreatedById_x,CreatedDate_x,CurrencyIsoCode_x,IsDeleted_x,Department_Name__c,Due_Date__c,...,Solution_Architecture__c,Source__c,Stage__c_y,Stage_Notes__c,Start_Date__c,SystemModstamp_y,Target_Outcomes__c,Tools_Technologies_Replaced__c,Use_Case_Type__c,Workloads__c
0,0018Z000033WmzPQAS,Magna,2023-09-08,NaN,0055f000007q0LtAAI,2023-09-11 21:18:25,USD,False,NaN,2023-09-08,...,<p>Data is ingested from MS SQL Servers (backe...,Proposed by kipi,Active,Built and delivered the dashboard to client,2023-11-27,2024-09-20 13:45:06,Create More Revenue,NaN,Business,Data Analytics;Data Engineering
1,0018Z000033WmzPQAS,Magna,2023-09-08,NaN,0055f000007q0LtAAI,2023-09-11 21:18:25,USD,False,NaN,2023-09-08,...,<p>Data is ingested from MS SQL Servers (RT &a...,Informed by Client,Complete,Built and delivered the dashboard to client,2023-11-27,2024-08-25 01:30:45,Save Money,NaN,Business,Data Analytics;Data Engineering
2,0018Z000033WmzPQAS,Magna,2023-09-08,NaN,0055f000007q0LtAAI,2023-09-11 21:18:25,USD,False,NaN,2023-09-08,...,"<p><span style=""font-size: 14px;"">Using Snowfl...",Proposed by kipi,In POC (not required),Currently we are doing a POC which will be rev...,2024-07-29,2024-09-10 02:27:26,Save Money,NaN,Data Science,Applications;Data Science
3,0018Z000033WmzPQAS,Magna,2023-09-08,NaN,0055f000007q0LtAAI,2023-09-11 21:18:25,USD,False,NaN,2023-09-08,...,<ol><li>Qualtrics data will be extracted throu...,Informed by Client,Complete,Working on ADF pipeline to bring CSAT data fro...,2024-07-29,2024-09-19 13:22:33,Save Money,NaN,Business,Data Analytics;Data Engineering
4,0018Z000033WmzPQAS,Magna,2023-09-08,NaN,0055f000007q0LtAAI,2023-09-11 21:18:25,USD,False,NaN,2023-09-08,...,<ol><li>UPS data will be ingested through ADF ...,Informed by Client,Active,Data Ingestion,2024-09-02,2024-09-19 13:22:55,Save Money,NaN,Business,Data Warehousing;Data Analytics;Data Engineering
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21305,001OJ00000IlldwYAB,Tulsi Prabhu,NaT,NaN,0058Z000009SqcGQAS,2024-09-24 13:07:32,USD,False,Client,2024-09-27,...,<p>TBD</p>,Discovered by kipi,Identified,NaN,NaT,2024-09-23 17:59:22,Increase Compliance,NaN,Business,Data Analytics
21306,001OJ00000IlldwYAB,Tulsi Prabhu,NaT,NaN,0058Z000009SqcGQAS,2024-09-24 13:07:32,USD,False,Client,2024-09-27,...,NaN,Discovered by kipi,Identified,NaN,NaT,2024-09-23 21:40:14,Create More Revenue;Increase Compliance,NaN,Business,Data Analytics
21307,001OJ00000IlldwYAB,Tulsi Prabhu,NaT,NaN,0058Z000009SqcGQAS,2024-09-24 13:07:32,USD,False,Client,2024-09-27,...,NaN,Discovered by kipi,Identified,NaN,NaT,2024-09-23 21:47:46,Increase Compliance,NaN,Business,Data Analytics
21308,001OJ00000GxokMYAR,Darrin,NaT,Confirmed with client,0058Z000009jQ9QQAU,2024-09-23 19:04:13,USD,False,Delivery,2024-09-19,...,NaN,Informed by Client,Client Interested,NaN,2024-09-09,2024-09-16 22:12:44,NaN,NaN,Business,NaN
21309,001OJ00000GxokMYAR,Darrin,NaT,Confirmed with client,0058Z000009jQ9QQAU,2024-09-24 11:32:22,USD,False,Delivery,2024-09-19,...,NaN,Informed by Client,Client Interested,NaN,2024-09-09,2024-09-16 22:12:44,NaN,NaN,Business,NaN

In [12]:
merged_df = pd.merge(df, df2, on=['Account__c', 'CreatedById'], how='inner')
merged_df

,Account__c,Owner__c,Closed_Date__c,Closure_Reason__c,CreatedById,CreatedDate_x,CurrencyIsoCode_x,IsDeleted_x,Department_Name__c,Due_Date__c,...,Solution_Architecture__c,Source__c,Stage__c_y,Stage_Notes__c,Start_Date__c,SystemModstamp_y,Target_Outcomes__c,Tools_Technologies_Replaced__c,Use_Case_Type__c,Workloads__c
0,0018Z00002yLD9tQAG,Chris,NaT,NaN,0058Z000008sOsQQAU,2023-10-20 12:21:09,USD,False,NaN,2023-12-14,...,<p>Migrated the R-code from POSIT cloud enviro...,Proposed by kipi,Complete,NaN,2024-07-01,2024-09-03 11:33:44,Save Money,NaN,Data Science,Data Analytics;Data Science
1,0018Z00002yLD9tQAG,Chris,NaT,NaN,0058Z000008sOsQQAU,2023-11-01 11:44:46,USD,False,NaN,2023-11-13,...,<p>Migrated the R-code from POSIT cloud enviro...,Proposed by kipi,Complete,NaN,2024-07-01,2024-09-03 11:33:44,Save Money,NaN,Data Science,Data Analytics;Data Science
2,0018Z00002yLD9tQAG,Chris,NaT,NaN,0058Z000008sOsQQAU,2023-11-20 17:22:43,USD,False,NaN,2023-11-20,...,<p>Migrated the R-code from POSIT cloud enviro...,Proposed by kipi,Complete,NaN,2024-07-01,2024-09-03 11:33:44,Save Money,NaN,Data Science,Data Analytics;Data Science
3,0018Z00002yLD9tQAG,Chris,NaT,NaN,0058Z000008sOsQQAU,2023-11-28 18:10:43,USD,False,Delivery,2023-12-06,...,<p>Migrated the R-code from POSIT cloud enviro...,Proposed by kipi,Complete,NaN,2024-07-01,2024-09-03 11:33:44,Save Money,NaN,Data Science,Data Analytics;Data Science
4,0018Z00002yLD9tQAG,Chris,NaT,NaN,0058Z000008sOsQQAU,2023-11-30 13:04:35,USD,False,Delivery,2023-12-04,...,<p>Migrated the R-code from POSIT cloud enviro...,Proposed by kipi,Complete,NaN,2024-07-01,2024-09-03 11:33:44,Save Money,NaN,Data Science,Data Analytics;Data Science
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2170,001OJ00000DryRZYAZ,Jake Davies,NaT,"Files were provided by Jake, and he informed t...",0058Z000009SeoYQAS,2024-09-04 14:18:20,USD,False,Delivery,2024-09-23,...,"<ul><li><span style=""background-color: transpa...",Informed by Client,Complete,Completed discovery phase. \nStarted delivery ...,2024-06-10,2024-09-04 13:05:14,NaN,SQL Server,Technical,Data Engineering
2171,001OJ00000DryRZYAZ,Jake Davies,NaT,"Files were provided by Jake, and he informed t...",0058Z000009SeoYQAS,2024-09-04 14:18:20,USD,False,Delivery,2024-09-23,...,<p><br></p><p><br></p><p>Use Azure data factor...,Informed by Client,Active,This is taken up under a BTX engagement in par...,2024-07-15,2024-09-11 16:07:49,Save Money,SQL Server,Business,Data Engineering
2172,001OJ00000FjVS1YAN,Nathan Erbe,NaT,Documents have been provided by client.,0058Z000009SyuwQAC,2024-09-11 18:29:11,USD,False,Client,2024-09-20,...,<ul><li>Read physician contracts available in ...,Informed by Client,Active,POCs are underway for testing OCR and Cortex f...,2024-08-21,2024-09-21 16:29:33,Save Money;Increase Compliance,AWS ML services,Business,Data Science
2173,0015f00000HE1iSAAT,Erivelton,NaT,NaN,0058Z000009jQ9QQAU,2024-09-24 11:43:13,USD,False,Delivery,2024-09-27,...,NaN,NaN,Identified,NaN,NaT,2024-08-29 13:50:44,NaN,NaN,Data Science,NaN
2174,0015f00000HE1iSAAT,Erivelton,NaT,NaN,0058Z000009jQ9QQAU,2024-09-24 11:43:13,USD,False,Delivery,2024-09-27,...,NaN,Informed by Client,Active,NaN,2024-09-16,2024-09-23 20:37:12,Create More Revenue;Save Money,NaN,Business,Data Warehousing;Data Analytics;Data Engineeri...

In [13]:
merged_df = pd.merge(df, df2, on=['Account__c', 'CreatedById'], how='left')
merged_df

,Account__c,Owner__c,Closed_Date__c,Closure_Reason__c,CreatedById,CreatedDate_x,CurrencyIsoCode_x,IsDeleted_x,Department_Name__c,Due_Date__c,...,Solution_Architecture__c,Source__c,Stage__c_y,Stage_Notes__c,Start_Date__c,SystemModstamp_y,Target_Outcomes__c,Tools_Technologies_Replaced__c,Use_Case_Type__c,Workloads__c
0,0018Z000035nQEtQAM,Lasso,2023-09-22,NaN,0055f000007q0LtAAI,2023-09-11 20:56:32,USD,False,NaN,2023-09-22,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
1,0018Z000035nQEtQAM,Lasso/Kipi,2023-08-30,NaN,0055f000007q0LtAAI,2023-09-11 20:57:21,USD,False,NaN,2023-08-29,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
2,0018Z000035nQEtQAM,Lasso,NaT,NaN,0055f000007q0LtAAI,2023-09-11 20:58:53,USD,False,NaN,2023-10-10,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
3,0018Z000033WmzPQAS,Magna,2023-09-08,NaN,0055f000007q0LtAAI,2023-09-11 21:18:25,USD,False,NaN,2023-09-08,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
4,0018Z000033WmzPQAS,Magna,NaT,NaN,0055f000007q0LtAAI,2023-09-11 21:20:23,USD,False,NaN,2023-09-26,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5072,001OJ00000C8JunYAF,Jonathan,NaT,NaN,0058Z000009sVeTQAU,2024-09-24 12:25:29,USD,False,Client,2024-10-04,...,"<p><strong style=""background-color: transparen...",Informed by Client,Identified,NaN,2024-10-11,2024-09-06 14:31:47,NaN,NaN,Business,NaN
5073,001OJ00000C8JunYAF,Jonathan,NaT,NaN,0058Z000009sVeTQAU,2024-09-24 12:28:29,USD,False,Client,2024-09-27,...,"<p><strong style=""background-color: transparen...",Informed by Client,Identified,NaN,2024-10-11,2024-09-06 14:31:47,NaN,NaN,Business,NaN
5074,001OJ00000IlldwYAB,Tulsi Prabhu,NaT,NaN,0058Z000009SqcGQAS,2024-09-24 13:07:32,USD,False,Client,2024-09-27,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
5075,001OJ000006Wm9QYAS,Jorge,NaT,NaN,0058Z000009sVeTQAU,2024-09-24 13:16:11,USD,False,Delivery,2024-10-02,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
5076,001OJ00000DryRZYAZ,Scott Ward,NaT,NaN,0058Z000009Sb1sQAC,2024-09-24 17:45:45,USD,False,Delivery,2024-09-27,...,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN

In [7]:
df_raid = df.dropna(subset=['Project__c'])

print(df_raid)

              Account__c                      Owner__c Closed_Date__c  \
0     0018Z000035nQEtQAM                         Lasso     2023-09-22
1     0018Z000035nQEtQAM                    Lasso/Kipi     2023-08-30
2     0018Z000035nQEtQAM                         Lasso            NaT
3     0018Z000033WmzPQAS                         Magna     2023-09-08
4     0018Z000033WmzPQAS                         Magna            NaT
...                  ...                           ...            ...
1830  0018Z00003A8YYGQA3                    Albert You            NaT
1831  0018Z00003A8YYGQA3                    Albert You            NaT
1832  0018Z000035mj5UQAQ                        Lexton            NaT
1833  0018Z00003BAUs8QAH                         Srini            NaT
2070  001OJ00000A3N7BYAV  Manish Solanki\nGaurav\nNeha            NaT

                                      Closure_Reason__c         CreatedById  \
0                                                   NaN  0055f000007q0LtAAI
1                                                   NaN  0055f000007q0LtAAI
2                                                   NaN  0055f000007q0LtAAI
3                                                   NaN  0055f000007q0LtAAI
4                                                   NaN  0055f000007q0LtAAI
...                                                 ...                 ...
1830        Comparison has been provided to the client.  0058Z000009RMMeQAO
1831  Albert confirmed that there is no action on th...  0058Z000009RMMeQAO
1832  Discovery sessions ended on 17th May and we ar...  0058Z000009SokrQAC
1833                                             Closed  0055f000007qHm3AAE
2070  As discussed with Shweta and Noah, closing thi...  0058Z000008sJRDQA2

             CreatedDate CurrencyIsoCode  IsDeleted Department_Name__c  \
0    2023-09-11 20:56:32             USD      False                NaN
1    2023-09-11 20:57:21             USD      False                NaN
2    2023-09-11 20:58:53             USD      False                NaN
3    2023-09-11 21:18:25             USD      False                NaN
4    2023-09-11 21:20:23             USD      False                NaN
...                  ...             ...        ...                ...
1830 2024-05-04 00:51:53             USD      False           Delivery
1831 2024-05-04 00:54:01             USD      False           Delivery
1832 2024-05-06 11:11:41             USD      False             Client
1833 2024-05-06 11:38:59             USD      False                CSM
2070 2024-05-15 23:40:59             USD      False             Client

     Due_Date__c  ... RAID_Other_Remarks__c ConnectionReceivedId  \
0     2023-09-22  ...                   NaN                  NaN
1     2023-08-29  ...                   NaN                  NaN
2     2023-10-10  ...                   NaN                  NaN
3     2023-09-08  ...  BigTime API descoped                  NaN
4     2023-09-26  ...                   NaN                  NaN
...          ...  ...                   ...                  ...
1830  2024-05-24  ...                   NaN                  NaN
1831  2024-05-31  ...                   NaN                  NaN
1832  2024-05-14  ...                   NaN                  NaN
1833  2024-05-31  ...                   NaN                  NaN
2070  2024-08-23  ...                   NaN                  NaN

                      Id        RecordTypeId ConnectionSentId Stage__c  \
0     aCW8Z0000006aboWAA  012OJ000001O1dWYAS              NaN   Closed
1     aCW8Z0000006abtWAA  012OJ000001O1dWYAS              NaN   Closed
2     aCW8Z0000006abyWAA  012OJ000001O1dWYAS              NaN   Closed
3     aCW8Z0000006ac3WAA  012OJ000001O1dWYAS              NaN   Closed
4     aCW8Z0000006ac4WAA  012OJ000001O1dWYAS              NaN   Closed
...                  ...                 ...              ...      ...
1830  aCWOJ0000000a9x4AA  012OJ000001O1dWYAS              NaN   Closed
1831  aCWOJ0000000aBZ4AY  012OJ000001O1dWYAS              NaN   Closed
1832  aCWOJ0000000aDB4AY  012OJ000001O1dWYAS              NaN   Closed
1833  aCWOJ0000000aGP4AY  012OJ000001O1dWYAS              NaN   Closed
2070  aCWOJ0000000gP34AI  012OJ000001O1dWYAS              NaN   Closed

     Status__c      SystemModstamp         Use_Case__c Visibility__c
0      Overdue 2024-04-12 16:42:28                 NaN           NaN
1      Overdue 2024-04-12 16:42:28                 NaN           NaN
2      Overdue 2024-04-12 16:42:28                 NaN           NaN
3      Overdue 2024-04-12 16:42:28                 NaN           NaN
4      Overdue 2024-04-12 16:42:28                 NaN      External
...        ...                 ...                 ...           ...
1830   Overdue 2024-05-20 12:17:06                 NaN      Internal
1831   Overdue 2024-05-31 16:49:07  aCIOJ0000000BY94AM      Internal
1832   Overdue 2024-05-20 20:05:54                 NaN      External
1833   Overdue 2024-05-20 11:29:51  aCIOJ0000000Hld4AE      Internal
2070   Overdue 2024-08-27 10:26:50  aCIOJ0000000LNp4AM      External

[1835 rows x 34 columns]

In [8]:
df_uc = df2.dropna(subset=['Project__c'])

print(df_uc)

     of_Capacity__c          Account__c  \
0               NaN  0015f00000HHFpbAAH
1               NaN  0015f00000HHFpbAAH
2               NaN  0015f00000HHFpbAAH
3               NaN  0015f00000HHFpbAAH
4               NaN  0015f00000HHFpbAAH
..              ...                 ...
327             NaN  0018Z000036FRmuQAG
332             NaN  0018Z00002vZDxJQAW
333             NaN  001OJ000008iuUvYAI
398             NaN  0018Z00002vZDxJQAW
606             NaN  001OJ00000Fh4SlYAJ

                                       Actors_Users__c  AI_ML_Tool_Used__c  \
0                                                  NaN                 NaN
1                                                  NaN                 NaN
2                                                  NaN                 NaN
3                                                  NaN                 NaN
4                                                  NaN                 NaN
..                                                 ...                 ...
327  <ul><li>Splash Leadership </li><li>Splash Inve...                 NaN
332                                                NaN  Other (List Other)
333                                                NaN                 NaN
398  <p>Rishabh Tomar(Kipi)</p><p>Nikhilesh Kashyap...  Other (List Other)
606  <ul><li>Galileo Data Enginners</li><li><span s...                 NaN

    BI_Tool_Used__c                                          BU_Ind__c  \
0               NaN  <img src="https://upload.wikimedia.org/wikiped...
1               NaN  <img src="https://upload.wikimedia.org/wikiped...
2               NaN  <img src="https://upload.wikimedia.org/wikiped...
3               NaN  <img src="https://upload.wikimedia.org/wikiped...
4               NaN  <img src="https://upload.wikimedia.org/wikiped...
..              ...                                                ...
327           Sigma  <img src="https://upload.wikimedia.org/wikiped...
332             NaN  <img src="https://upload.wikimedia.org/wikiped...
333             NaN  <img src="https://upload.wikimedia.org/wikiped...
398             NaN  <img src="https://upload.wikimedia.org/wikiped...
606          Looker  <img src="https://upload.wikimedia.org/wikiped...

    Business_Buyer__c Client_Go_Live_Date__c Cloud_Tool_Used__c  \
0       Dennis Jensen                    NaT                NaN
1       Dennis Jensen                    NaT                NaN
2      Abhishek Gupta                    NaT                NaN
3       Dennis Jensen                    NaT                NaN
4       Dennis Jensen                    NaT                NaN
..                ...                    ...                ...
327               NaN                    NaT                AWS
332               NaN             2024-03-29                NaN
333               NaN                    NaT              Azure
398               NaN                    NaT                NaN
606               NaN                    NaT                AWS

     Competitors__c  ...                           Solution_Architecture__c  \
0               NaN  ...                                                NaN
1               NaN  ...                                                NaN
2               NaN  ...                                                NaN
3               NaN  ...                                                NaN
4               NaN  ...  <p>Created a chatbot that internally uses mult...
..              ...  ...                                                ...
327             NaN  ...  <ul><li>Utilize white-label reporting tools.</...
332             NaN  ...  <p>Snowflake&#39;s cortex functions are used t...
333             NaN  ...  <ul><li><span style="font-size: 11pt; font-fam...
398             NaN  ...  <p>A variety of methods including gaining insi...
606             NaN  ...  <p><strong>Converted Redshift Models to Snowfl...

              Source__c                             Stage__c  \
0      Proposed by kipi                             Complete
1                   NaN  Client Not Interested (explain why)
2                   NaN  Client Not Interested (explain why)
3                   NaN  Client Not Interested (explain why)
4    Discovered by kipi                             Complete
..                  ...                                  ...
327  Informed by Client                             Complete
332  Informed by Client                             Complete
333  Informed by Client                Discussed with Client
398  Informed by Client                               Active
606  Informed by Client                               Active

                                        Stage_Notes__c Start_Date__c  \
0                                                  NaN    2023-11-01
1                                                  NaN           NaT
2                                                  NaN           NaT
3    Want to pause this for now as there are other ...           NaT
4    Did a POC and showed the results to Dennis and...    2024-07-15
..                                                 ...           ...
327  For lender reports in Sigma, the report that h...    2024-04-01
332  The major business goal is to increase sales a...    2024-03-06
333  Work on the ingestion pipeline to bring in dat...    2024-03-11
398                                                NaN    2024-04-08
606  1000+ DBT models are available. Some need to b...    2024-07-08

         SystemModstamp              Target_Outcomes__c  \
0   2024-08-16 11:11:38                             NaN
1   2023-09-15 09:30:53                             NaN
2   2024-02-12 17:32:32                             NaN
3   2023-11-03 18:29:56                             NaN
4   2024-09-09 16:59:12  Create More Revenue;Save Money
..                  ...                             ...
327 2024-09-09 19:48:13  Create More Revenue;Save Money
332 2024-09-05 15:23:49             Create More Revenue
333 2024-09-09 20:01:19             Increase Compliance
398 2024-09-10 12:19:40             Create More Revenue
606 2024-09-23 20:20:13                      Save Money

    Tools_Technologies_Replaced__c Use_Case_Type__c  \
0                              NaN        Technical
1                              NaN              NaN
2                              NaN        Technical
3                              NaN              NaN
4                              NaN         Business
..                             ...              ...
327                            NaN         Business
332                            NaN         Business
333                            NaN        Technical
398                            NaN         Business
606                   AWS RedShift        Technical

                                     Workloads__c
0                                Data Engineering
1                                             NaN
2                                             NaN
3                                    Data Science
4                     Data Analytics;Data Science
..                                            ...
327                                Data Analytics
332                                           NaN
333               Data Analytics;Data Engineering
398  Data Analytics;Data Engineering;Data Science
606               Data Warehousing;Data Analytics

[316 rows x 62 columns]

In [9]:
merged_df = pd.merge(df_raid, df_uc, on='Account__c', how='inner')
merged_df

,Account__c,Owner__c,Closed_Date__c,Closure_Reason__c,CreatedById_x,CreatedDate_x,CurrencyIsoCode_x,IsDeleted_x,Department_Name__c,Due_Date__c,...,Solution_Architecture__c,Source__c,Stage__c_y,Stage_Notes__c,Start_Date__c,SystemModstamp_y,Target_Outcomes__c,Tools_Technologies_Replaced__c,Use_Case_Type__c,Workloads__c
0,0018Z000033WmzPQAS,Magna,2023-09-08,NaN,0055f000007q0LtAAI,2023-09-11 21:18:25,USD,False,NaN,2023-09-08,...,<p>Data is ingested from MS SQL Servers (backe...,Proposed by kipi,Active,Built and delivered the dashboard to client,2023-11-27,2024-09-20 13:45:06,Create More Revenue,NaN,Business,Data Analytics;Data Engineering
1,0018Z000033WmzPQAS,Magna,2023-09-08,NaN,0055f000007q0LtAAI,2023-09-11 21:18:25,USD,False,NaN,2023-09-08,...,<p>Data is ingested from MS SQL Servers (RT &a...,Informed by Client,Complete,Built and delivered the dashboard to client,2023-11-27,2024-08-25 01:30:45,Save Money,NaN,Business,Data Analytics;Data Engineering
2,0018Z000033WmzPQAS,Magna,NaT,NaN,0055f000007q0LtAAI,2023-09-11 21:20:23,USD,False,NaN,2023-09-26,...,<p>Data is ingested from MS SQL Servers (backe...,Proposed by kipi,Active,Built and delivered the dashboard to client,2023-11-27,2024-09-20 13:45:06,Create More Revenue,NaN,Business,Data Analytics;Data Engineering
3,0018Z000033WmzPQAS,Magna,NaT,NaN,0055f000007q0LtAAI,2023-09-11 21:20:23,USD,False,NaN,2023-09-26,...,<p>Data is ingested from MS SQL Servers (RT &a...,Informed by Client,Complete,Built and delivered the dashboard to client,2023-11-27,2024-08-25 01:30:45,Save Money,NaN,Business,Data Analytics;Data Engineering
4,0018Z000033WmzPQAS,Magna,NaT,NaN,0058Z000009jPclQAE,2023-11-02 21:53:13,USD,False,NaN,2023-11-03,...,<p>Data is ingested from MS SQL Servers (backe...,Proposed by kipi,Active,Built and delivered the dashboard to client,2023-11-27,2024-09-20 13:45:06,Create More Revenue,NaN,Business,Data Analytics;Data Engineering
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4881,0018Z00003BAUs8QAH,Srini,NaT,Closed,0055f000007qHm3AAE,2024-05-06 11:38:59,USD,False,CSM,2024-05-31,...,"<p><strong style="""">Solution</strong>: Leverag...",Discovered by kipi,Identified,NaN,NaT,2024-04-09 00:24:18,Create More Revenue,NaN,Business,Data Analytics;Data Science
4882,0018Z000037m9WgQAI,Jana Simashkevich,NaT,Client has given access to Stage environment t...,0058Z000009jQ9QQAU,2024-03-28 16:22:00,USD,False,Client,2024-04-03,...,"<p><span style=""color: rgb(68, 68, 68);"">Fresh...",Informed by Client,Complete,NaN,NaT,2024-09-24 02:08:04,Create More Revenue,MySql,Business,Data Engineering
4883,0018Z000037m9WgQAI,Jana Simashkevich,NaT,Client has sorted the access to Prod and Git,0058Z000009jQ9QQAU,2024-04-08 23:13:16,USD,False,Client,2024-04-17,...,"<p><span style=""color: rgb(68, 68, 68);"">Fresh...",Informed by Client,Complete,NaN,NaT,2024-09-24 02:08:04,Create More Revenue,MySql,Business,Data Engineering
4884,0018Z000037m9WgQAI,Samantha,NaT,Accepted- We do not have a roadmap or set acti...,0058Z000009jQ9QQAU,2024-04-12 17:07:32,USD,False,Client,2024-06-14,...,"<p><span style=""color: rgb(68, 68, 68);"">Fresh...",Informed by Client,Complete,NaN,NaT,2024-09-24 02:08:04,Create More Revenue,MySql,Business,Data Engineering
4885,0018Z000037m9WgQAI,Samantha,NaT,they are not converting right now but mentione...,0058Z000009SubHQAS,2024-04-30 17:14:04,USD,False,CSM,2024-06-14,...,"<p><span style=""color: rgb(68, 68, 68);"">Fresh...",Informed by Client,Complete,NaN,NaT,2024-09-24 02:08:04,Create More Revenue,MySql,Business,Data Engineering

In [10]:
merged_df = pd.merge(df_raid, df_uc, on='Project__c', how='inner')
merged_df

,Account__c_x,Owner__c,Closed_Date__c,Closure_Reason__c,CreatedById_x,CreatedDate_x,CurrencyIsoCode_x,IsDeleted_x,Department_Name__c,Due_Date__c,...,Solution_Architecture__c,Source__c,Stage__c_y,Stage_Notes__c,Start_Date__c,SystemModstamp_y,Target_Outcomes__c,Tools_Technologies_Replaced__c,Use_Case_Type__c,Workloads__c
0,0018Z00002nCPB6QAO,Kiniksa,NaT,NaN,0058Z000009jPcqQAE,2023-09-13 14:36:38,USD,False,NaN,NaT,...,<p>Solution Approach :</p><p><strong>Requireme...,Informed by Client,Active,Data migration from Athena to Snowflake is com...,2022-12-01,2024-08-28 11:20:07,Create More Revenue,AWS Athena is replaced by Snowflake.,Business,Data Warehousing;Data Analytics;Data Engineering
1,0018Z00002nCPB6QAO,Kiniksa,NaT,NaN,0058Z000009jPclQAE,2023-11-02 22:05:15,USD,False,Client,2024-03-01,...,<p>Solution Approach :</p><p><strong>Requireme...,Informed by Client,Active,Data migration from Athena to Snowflake is com...,2022-12-01,2024-08-28 11:20:07,Create More Revenue,AWS Athena is replaced by Snowflake.,Business,Data Warehousing;Data Analytics;Data Engineering
2,0018Z00002nCPB6QAO,Kiniksa,NaT,NaN,0058Z000009jPclQAE,2023-11-06 11:47:14,USD,False,NaN,2023-11-29,...,<p>Solution Approach :</p><p><strong>Requireme...,Informed by Client,Active,Data migration from Athena to Snowflake is com...,2022-12-01,2024-08-28 11:20:07,Create More Revenue,AWS Athena is replaced by Snowflake.,Business,Data Warehousing;Data Analytics;Data Engineering
3,0018Z00002nCPB6QAO,Kiniksa,NaT,NaN,0058Z000009jPclQAE,2023-11-10 07:30:41,USD,False,NaN,2023-11-15,...,<p>Solution Approach :</p><p><strong>Requireme...,Informed by Client,Active,Data migration from Athena to Snowflake is com...,2022-12-01,2024-08-28 11:20:07,Create More Revenue,AWS Athena is replaced by Snowflake.,Business,Data Warehousing;Data Analytics;Data Engineering
4,0018Z00002nCPB6QAO,Kiniksa,NaT,NaN,0058Z000009jPclQAE,2023-11-16 23:03:08,USD,False,NaN,2023-11-21,...,<p>Solution Approach :</p><p><strong>Requireme...,Informed by Client,Active,Data migration from Athena to Snowflake is com...,2022-12-01,2024-08-28 11:20:07,Create More Revenue,AWS Athena is replaced by Snowflake.,Business,Data Warehousing;Data Analytics;Data Engineering
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4013,0018Z00003A8YYGQA3,ayou@pharo.com,NaT,Transition is successful. The resource is perf...,0055f000007q0P7AAI,2024-04-03 12:50:53,USD,False,Delivery,2024-04-19,...,NaN,Discovered by kipi,Client Not Interested (explain why),"The Use case is marked as ""Client not Interest...",2024-08-01,2024-09-19 12:45:08,Save Money,NaN,Technical,Data Engineering;Collaboration (Data Sharing)
4014,0018Z00003A8YYGQA3,ayou@pharo.com,NaT,Got new requirement - ECON inflation forecast ...,0055f000007q0P7AAI,2024-04-16 11:26:25,USD,False,Delivery,2024-04-26,...,NaN,Discovered by kipi,Client Not Interested (explain why),"The Use case is marked as ""Client not Interest...",2024-08-01,2024-09-19 12:45:08,Save Money,NaN,Technical,Data Engineering;Collaboration (Data Sharing)
4015,0018Z00003A8YYGQA3,ayou@pharo.com,NaT,Gary responded in the email. Issue is resolved.,0055f000007q0P7AAI,2024-04-16 11:28:59,USD,False,Delivery,2024-04-19,...,NaN,Discovered by kipi,Client Not Interested (explain why),"The Use case is marked as ""Client not Interest...",2024-08-01,2024-09-19 12:45:08,Save Money,NaN,Technical,Data Engineering;Collaboration (Data Sharing)
4016,0018Z00003A8YYGQA3,Albert You,NaT,Comparison has been provided to the client.,0058Z000009RMMeQAO,2024-05-04 00:51:53,USD,False,Delivery,2024-05-24,...,NaN,Discovered by kipi,Client Not Interested (explain why),"The Use case is marked as ""Client not Interest...",2024-08-01,2024-09-19 12:45:08,Save Money,NaN,Technical,Data Engineering;Collaboration (Data Sharing)
4017,0018Z00003A8YYGQA3,Albert You,NaT,Albert confirmed that there is no action on th...,0058Z000009RMMeQAO,2024-05-04 00:54:01,USD,False,Delivery,2024-05-31,...,NaN,Discovered by kipi,Client Not Interested (explain why),"The Use case is marked as ""Client not Interest...",2024-08-01,2024-09-19 12:45:08,Save Money,NaN,Technical,Data Engineering;Collaboration (Data Sharing)

In [11]:
merged_df = pd.merge(df_raid, df_uc, on='CreatedById', how='inner')
merged_df

,Account__c_x,Owner__c,Closed_Date__c,Closure_Reason__c,CreatedById,CreatedDate_x,CurrencyIsoCode_x,IsDeleted_x,Department_Name__c,Due_Date__c,...,Solution_Architecture__c,Source__c,Stage__c_y,Stage_Notes__c,Start_Date__c,SystemModstamp_y,Target_Outcomes__c,Tools_Technologies_Replaced__c,Use_Case_Type__c,Workloads__c
0,0018Z00002yLD9tQAG,Chris,NaT,NaN,0058Z000008sOsQQAU,2023-10-20 12:21:09,USD,False,NaN,2023-12-14,...,"<p><span style=""color: rgb(0, 6, 11);"">Use the...",Informed by Client,Complete,NaN,2023-11-14,2024-01-03 12:31:47,NaN,NaN,NaN,Data Engineering
1,0018Z00002yLD9tQAG,Chris,NaT,NaN,0058Z000008sOsQQAU,2023-10-20 12:21:09,USD,False,NaN,2023-12-14,...,<p>Use Snowflake capabilities for transformati...,Informed by Client,Complete,NaN,2023-12-21,2024-09-18 20:19:16,NaN,NaN,Technical,Data Engineering
2,0018Z00002yLD9tQAG,Chris,NaT,NaN,0058Z000008sOsQQAU,2023-10-20 12:21:09,USD,False,NaN,2023-12-14,...,"<p><span style=""color: rgb(34, 34, 34); font-f...",Informed by Client,Active,We are working on converting the stored proced...,2023-08-21,2024-09-19 17:35:18,Save Money,SQL Server,Technical,Data Engineering
3,0018Z00002yLD9tQAG,Chris,NaT,NaN,0058Z000008sOsQQAU,2023-11-01 11:44:46,USD,False,NaN,2023-11-13,...,"<p><span style=""color: rgb(0, 6, 11);"">Use the...",Informed by Client,Complete,NaN,2023-11-14,2024-01-03 12:31:47,NaN,NaN,NaN,Data Engineering
4,0018Z00002yLD9tQAG,Chris,NaT,NaN,0058Z000008sOsQQAU,2023-11-01 11:44:46,USD,False,NaN,2023-11-13,...,<p>Use Snowflake capabilities for transformati...,Informed by Client,Complete,NaN,2023-12-21,2024-09-18 20:19:16,NaN,NaN,Technical,Data Engineering
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2786,0018Z00002az93yQAA,Felicia,NaT,"As per Ganesh, this was concluded that it was ...",0055f000007q0MhAAI,2024-05-02 14:14:50,USD,False,Delivery,2024-05-10,...,"<p><span style=""color: rgb(68, 68, 68); backgr...",Informed by Client,Active,This is an on-going activity for Alesco as and...,2022-10-03,2024-08-30 16:15:40,Create More Revenue,NaN,Business,Applications;Data Engineering;Collaboration (D...
2787,0018Z00002az93yQAA,Felicia,NaT,"As per Ganesh, this was concluded that it was ...",0055f000007q0MhAAI,2024-05-02 14:14:50,USD,False,Delivery,2024-05-10,...,<p>Greenslate decided to have an end to end cl...,Informed by Client,Complete,Migration completed,2023-08-21,2024-09-23 12:20:33,Create More Revenue,SQL Server,Business,Data Warehousing;Data Analytics;Data Engineeri...
2788,0018Z00002az93yQAA,Felicia,NaT,"As per Ganesh, this was concluded that it was ...",0055f000007q0MhAAI,2024-05-02 14:14:50,USD,False,Delivery,2024-05-10,...,<p>We seek to assess an ETL tool for the outli...,Informed by Client,Complete,SAG-AFTRA Plans wants Kipi to analyze their cu...,2023-11-21,2024-08-28 13:56:49,Create More Revenue;Save Money,Oracle,Technical,Data Warehousing;Data Engineering;Data Lake
2789,0018Z00002az93yQAA,Felicia,NaT,"As per Ganesh, this was concluded that it was ...",0055f000007q0MhAAI,2024-05-02 14:14:50,USD,False,Delivery,2024-05-10,...,<p>To address the challenge of migrating from ...,Informed by Client,Complete,Completed,2023-10-23,2024-01-22 18:18:28,Save Money,Azure Cloud for Snowflake,Business,Data Engineering
2790,0018Z00002az93yQAA,Felicia,NaT,"As per Ganesh, this was concluded that it was ...",0055f000007q0MhAAI,2024-05-02 14:14:50,USD,False,Delivery,2024-05-10,...,"<p><span style=""color: rgb(68, 68, 68);"">We se...",Informed by Client,Complete,SAG-AFTRA Plans wants Kipi to analyze their cu...,2023-11-21,2024-08-28 13:57:02,Create More Revenue;Save Money,Oracle,Technical,Data Warehousing;Data Engineering;Data Lake

In [ ]:
##jjbbj